body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.content {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2,
.content h3 {
    color: #333;
}

.project_screenshots {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.content table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; 
}


.content th {
    border: 1px solid black;
    padding: 8px;
}


.content th.topic, .content td.topic {
    width: 30%; 
}


.content th.abstract, .content td.abstract {
    width: 70%; 
    word-wrap: break-word;
}


.content td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top; 
}


.content td.topic a {
    font-weight: bold; 
    color: #0000EE; 
    text-decoration: underline; 
}


.content td.topic a:hover {
    text-decoration: none; 
    color: #FF4500; 
}
