body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* all three sections */
.content {
    display: flex;
    justify-content: center;
}


/* left section css */
.left-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* mail css */
.mail-section {
    margin-top: 10px;

}

.mail-section i {
    vertical-align: middle; /* Ensure the icon is aligned with the text */
}

.mail-section span {
    margin-left: 5px; /* Add some space between the icon and the text */
}


.mail-section a {
    color: #0000EE; /* Default link color */
    text-decoration: none;
   
}

/* Email hover effect */
.mail-section a:hover {
    color: #ffbf00; /* Change color on hover */
    text-decoration: underline;
}

/* signature css */
.signature-section {
    width: 75%;
}


/* profile photo css */
.profile-photo {
    width: 13em;
    height: 13em;
    border-radius: 50%;  /* Circular image */
}

/* center section css */
.center-section {
    width: 60%;
    padding: 2em;
    /* max-width: 800px; */
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-section h2,
.center-section h3 {
    color: #333;
}


.center-section table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; 
}


.center-section th {
    border: 1px solid black;
    padding: 8px;
}


.center-section th.topic, .center-section td.topic {
    width: 30%; 
}


.center-section th.abstract, .center-section td.abstract {
    width: 70%; 
    word-wrap: break-word;
}


.center-section td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top; 
}


/* Project link color and hover effect */
.center-section .topic a {
    color: #ff00ee; /* Teal color for project links */
    text-decoration: none;
}

.center-section .topic a:hover {
    color: #ff4400; /* Coral color on hover */
    text-decoration: underline;
}


/* Set up CSS for Titanic */
#Titanic {
    font-weight: bold; /* Makes the text bold */
    font-style: italic;
}

/* right section css */
.right-section {
    width: 20%;
}

/* footer section css */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}